<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <title>Home</title>

        <!-- Styles -->
        <link href="assets/css/page.min.css" rel="stylesheet">
        <link href="assets/css/all.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">

        <!-- Favicons -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
        <link rel="icon" href="assets/img/favicon.png">

    <body class="demo-navbar">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-main navbar-stick-dark" data-navbar="sticky">
            <div class="container">

                
                <div class="navbar-left">
                    <a class="navbar-brand" href="#">
                        <img class="logo" src="assets/img/Logo/Logo.png" alt="logo">
                    <!-- <img class="logo-light" src="../assets/img/logo-light.png" alt="logo"> -->
                    </a>
                </div>
                <div class="navbar-right">
                    <button class="navbar-toggler" type="button">&#9776;</button>
                </div>
                <section class="navbar-mobile">
                    <nav class="nav nav-navbar mx-auto mt-nav">
                        <li class="nav-item active">
                        <a class="nav-link" href="#">All cateogries <span class="arrow"></span></a>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Classic <span class="arrow"></span></a>
                                    <nav class="nav navbar__long">
                                        <div class="row no-gutters">
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Butter </a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Collection</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Singles</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Tea Biscuits</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Digestive Classic Tea Biscuits</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Butter classic</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Collection</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Singles</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Tea Biscuits</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">Classic Digestive Classic Tea Biscuits</a>
                                            </div>
                                        </div>
                                        <!-- <a class="nav-link" href="../demo/Cateogry-2.html">Classic Collection</a>
                                        <a class="nav-link" href="../demo/Cateogry-3.html">Classic Singles</a>
                                        <a class="nav-link" href="../demo/Cateogry-4.html">Classic Tea Biscuits</a>
                                        <a class="nav-link" href="../demo/Cateogry-4.html">Classic DigestiveClassic Tea Biscuits</a> -->
                                    </nav>
                                </li>
                            </ul>
                        </li>
                        <a class="nav-link " href="index.html">Home</a>
                        <a class="nav-link" href="products.html">Shop</a>
                    </nav>

                        
                    <div class="d-flex mt-nav">
                        <a class="nav-link" id="cart-btn" href="#">
                            <i class="fa fa-shopping-cart text-white"></i>
                            <span class="badge badge-number badge-danger">4</span>
                        </a>
                        <a class="btn btn-sm btn-round btn-main text-white mt-2" href="signin.html">Sign in</a>
                        <a class="btn btn-sm btn-round btn-main text-white mt-2 fw-700" href="ar/index.html"> عربي</a>
                        
                    </div>
                </section>

            </div>
        </nav>
        <!-- navbar -->
        
        <!-- start loader -->
        <div id="loader" class="loader">
            <img class="loader__img w-200" src="assets/img/Logo/loader.png" alt="">
        </div>
        <!-- end loader -->
        
        <!-- start main-content -->
        <main>

            <!-- start header -->
            <header class="header text-center p-0">
                <div data-provide="slider" data-autoplay="true" data-arrows="true" data-autoplay-speed="1000">
                    
                    <div><img class="h-620px w-100 mt-2" src="assets/img/banner/Slider1.png"></div>
                    <div><img class="h-620px w-100 mt-2" src="assets/img/banner/3.png"></div>

                </div>
            </header>
            <!-- end header -->

            <!-- start full width ads -->
            <section class="ad pt-1">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-12">
                            <img class="h-90px w-100" src="assets/img/720-90.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- end full width ads -->

            <!-- section products  -->
            <section class="products">
                <div class="container-fluid">
                    <h2 class="heading">Our Products</h2>
                    <div class="slider-arrows-circle-dark text-center" data-provide="slider" data-slides-to-show="4" data-arrows="true" data-autoplay-speed="1000" data-autoplay="true">
                        <div class="p-2 meduim-banner-size" >
                            <div class="products__card product-3 mb-3">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold">14EGP</span>
                                    <img class="h-150px w-100 img1" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg" alt="">
                                    <!-- <img class="h-150px w-100 img1" src="assets/img/products/دانش فانيليا.jpg" alt=""> -->
                                    <!-- <img class="h-150px w-100 img2" src="assets/img/products/كلاسيك 908  جم زبدة.jpg" alt=""> -->
                                </a>
                                <div class="products__controls">
                                    <ul class="list-unstyled  justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">Classic Cocoa Cookie</a></h6>
                                <p class="font-weight-bold">Price : 37 EGP</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-2 meduim-banner-size">
                            <div class="products__card product-3 mb-3">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold">36EGP</span>
                                    
                                    <img class="h-150px w-100 img1" src="assets/img/products/بوكيت كاكاو.jpg" alt="">
                                    <img class="h-150px w-100 img2" src="assets/img/products/كلاسيك 908  جم زبدة.jpg" alt="">
                                </a>
                                <div class="products__controls">
                                    <ul class="list-unstyled  justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">Classic Cocoa Pocket</a></h6>
                                    <p class="font-weight-bold">Price : 50 EGP</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-2 meduim-banner-size">
                            <div class="product-3 products__card mb-3">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold">37EGP</span>
                                    <img class="h-150px w-100" src="assets/img/products/دانش فانيليا.jpg" alt="product">
                                </a>
                                <div class="products__controls">
                                    <ul class="list-unstyled  justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">Classic Vanilla Danish</a></h6>
                                    <p class="font-weight-bold">Price : 37 EGP</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-2 meduim-banner-size">
                            <div class="product-3 mb-3 products__card">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold">146EGP</span>
                                    <img class="h-150px w-100" src="assets/img/products/كلاسيك 908  جم زبدة.jpg" alt="product">
                                </a>
                                <div class="products__controls">
                                    <ul class="list-unstyled  justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">Classic Butter Cookies</a></h6>
                                    <p class="font-weight-bold">Price : 146EGP</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>    
                </div>
            </section>
            <!-- modal begin -->
            <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div id="slider-image" data-provide="slider" data-as-nav-for="#slider-thumb" data-autoplay-speed="1000" data-autoplay="true">
                                        <div class="p-2"><img class="w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        <div class="p-2"><img class="w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        <div class="p-2"><img class="w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        
                                    </div>

                                    <div class="" id="slider-thumb" data-provide="slider" data-as-nav-for="#slider-image" data-slides-to-show="3" data-center-mode="true" data-focus-on-select="true">
                                        <div class="p-2"><img class="cursor-pointer" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <h3 class="mb-3">Classic Cocoa Cookie</h3>
                                    <div class="price d-flex">
                                        <h4 class="text-main font-weight-bold mr-3">EGP14</h4>
                                        <h4 class="font-weight-bold"><s>EGP50</s></h4>
                                    </div>
                                    <p class="mb-3">Classic Singles, which uses the same authentic Danish recipe using 100% butter with the flavor of Cocoa and it contains 12 cookies.</p>
                                    <div class="row no-gutters justify-content-between">
                                            <input class="form-control-sm w-60px" min="1" value="1" type="number">
                                            <button class="btn btn-main">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end products -->

            <!-- start counter -->
            <section class="counter bg-main my-3 py-9" style="background-image: linear-gradient( to top , rgba(0,0,0,0.3) ,  rgba(0,0,0,0.1)) , url(assets/img/banner/Slider\ 2.png); background-size: 100% 100%; background-attachment: fixed;">
                <div class="container">
                    <div class="row gap-y text-center ">

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="100"></p>
                            <p class="text-uppercase ls-2 text-black">Clients</p>
                        </div>

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="250"></p>
                            <p class="text-uppercase ls-2 text-black">Products</p>
                        </div>

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="330"></p>
                            <p class="text-uppercase ls-2 text-black">Reviews</p>
                        </div>

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="430"></p>
                            <p class="text-uppercase ls-2 text-black">Happy clients</p>
                        </div>

                    </div>
                </div>
            </section>
            <!-- end counter -->
            
            <!-- start section deals -->
            <section class="deals"> 
                <h2 class="heading">New hot deals</h2>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-12 deals__resposnive text-center">
                            <img class="meduim-banner-size" src="assets/img/300-250.png">
                        </div>
                        <div class="col-xl-9 col-12">
                            <div class="slider-arrows-circle-dark text-center" data-provide="slider" data-slides-to-show="3" data-autoplay="true" data-autoplay-speed="1000" data-arrows="true">
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3   mb-3">
                                        <a class="product-media" href="#">
                                            <span class="badge py-4 px-3 bg-gold text-white badge-pos-left">Gold</span>
                                            <img class="h-150px w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">Classic Cocoa Cookie</a></h6>
                                            <p class="font-weight-bold">Price : 14 EGP <s class="text-darkgray mx-2">20 EGP</s></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3  mb-3">
                                        <a class="product-media" href="#">
                                            <img class="h-150px w-100" src="assets/img/products/بوكيت كاكاو.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">bClassic Cocoa Pocket</a></h6>
                                            <p class="font-weight-bold">Price : 36 EGP <s class="text-darkgray mx-2">50 EGP</s></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3  mb-3">
                                        <a class="product-media" href="#">
                                            <img class="h-150px w-100" src="assets/img/products/دانش فانيليا.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">Classic Vanilla Danish   </a></h6>
                                            <p class="font-weight-bold">Price : 37 EGP <s class="text-darkgray mx-2">50 EGP</s></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3  mb-3">
                                        <a class="product-media" href="#">
                                            <img class="h-150px w-100" src="assets/img/products/كلاسيك 908  جم زبدة.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">Classic Butter Cookies</a></h6>
                                            <p class="font-weight-bold">Price : 146EGP <s class="text-darkgray mx-2">200 EGP</s></p>
                                        </div>
                                    </div>
                                </div>
                                
                        
                            </div>   
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- end section deals -->





            <!-- start section advantages -->
            <section class="advantages text-black">
                <h2 class="heading">Our advantages</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">

                            <ol class="timeline">
                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <h4 class="ml-5 fw-700">Organic</h4>
                                            <img class="" src="assets/img/organic.png" alt="">

                                        </div>
                                        <p class="card-text">We use an organic ingredients in all our products to provide our consumers with high quality, delicious products</p>
                                    </li>

                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <img  src="assets/img/heart.png" alt="">

                                            <h4 class="fw-700">Healthy</h4>

                                        </div>
                                        <p class="card-text">We offer you a wide range of products that are healthy without using Hydrogenated oils or Preservatives</p>
                                    </li>

                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <h4 class="ml-1 fw-700">Diversity</h4>

                                            <img src="assets/img/cookies.png" alt="">
                                        </div>
                                        <p class="card-text">We offer a variety of products such as butter cookies, tea biscuits, chocolate chip cookies, and digestive biscuit</p>
                                    </li>

                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <img class="" src="assets/img/tech.png" alt="">

                                            <h4 class="fw-700 mr-5">Technology</h4>
                                        </div>
                                        <p class="card-text">We use the latest machines and techniques to provide you with a unique products with a unique taste.</p>
                                    </li>
                            </ol>

                        </div>
                    </div>
                    
                </div>

            </section>
            <!-- end section advantages -->

            <!-- start sponsors methods -->
            <section class="sponsors">
                <h2 class="heading my-5">Partners</h2>
                <div class="container">
                    <div class="text-center" data-provide="slider" data-slides-to-show="4" data-autoplay="true" >
                        <div class="p-2"><img src="assets/img/visa-payement.png"></div>
                        <div class="p-2"><img src="assets/img/fawry-en.png"></div>
                        <div class="p-2"><img src="assets/img/bee.jpg"></div>
                        <div class="p-2"><img src="assets/img/aman.png"></div>
                    </div>
                </div>
                
            </section>
            <!-- end sponsors methods -->

        </main>
        <!-- main-content -->

        <!-- start cart extension -->
        <div class="cart" id="cart">
            <div id="cart__options" class="min-height">
                <div class="row no-gutters justify-content-between">
                    <h2 class="mb-0">Cart</h2>
                    <button id="x-cart-btn" class=" btn btn-white text-black mb-0">X</button>
                </div>
			    <hr class="mt-3 mb-5">
                <div class="row">
                    <div class="col-4 text-center">
                        <img class="w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg">
                    </div>
                    <div class="col-4 text-center">
                        <p class="mb-0">Classic Cocoa Cookie</p>
                        <h6>1x <b>14 EGP</b></h6>
                    </div>
                    <div class="col-4 text-center">
                        <h5><i class="fa fa-trash" aria-hidden="true"></i></h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 text-center">
                        <img class="w-100" src="assets/img/products/بوكيت كاكاو.jpg" alt="">
                    </div>
                    <div class="col-4 text-center">
                        <p class="mb-0">بسكويت بوكيت كاكاو</p>
                        <h6>1x <b>36 EGP</b></h6>
                    </div>
                    <div class="col-4 text-center">
                        <h5><i class="fa fa-trash" aria-hidden="true"></i></h5>
                    </div>
                </div>
                <hr>
                <div class="row no-gutters justify-content-between">
                    <p>Sub Total : </p>
                    <p class="fs-18 fw-700">EGP900</p>
                </div>
                <div class="row no-gutters justify-content-between">
                    <p>Total : </p>
                    <p class="fs-18 fw-700">EGP900</p>
                </div>
                <a href="cart.html" class="btn btn-secondry btn-block"><i class="fa fa-cart-plus mr-3" aria-hidden="true"></i>View cart</a>
                <a href="checkout.html" class="btn btn-secondry btn-block"><i class="fa fa-caret-square-o-right mr-3" aria-hidden="true"></i>Check out</a>
            </div>
        </div> 
        <!-- End cart extension -->

        <!-- Start footer -->
        <footer class="footer text-white bg-dark border-0 py-6" data-overlay="8">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <h3 class="mb-4"><strong>About our Company</strong></h3>
                        <div class="nav flex-column">
                            <p>Classic Foods Industry Co. owns and distributes the “Classic” brand of cookies and biscuits throughout Egypt and the Middle East. With a variety of products such as butter cookies, tea biscuits, chocolate chip cookies, and digestive biscuits Classic Foods has become one of Egypt’s leading biscuits and cookie brands.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <h3 class="mb-4"><strong>Cateogries</strong></h3>
                        <div class="nav flex-column">
                            <a class="nav-link" href="../demo/Cateogry-1.html">Classic Butter Cookies</a>
                                    <a class="nav-link" href="../demo/Cateogry-2.html">Classic Collection</a>
                                    <a class="nav-link" href="../demo/Cateogry-3.html">Classic Singles</a>
                                    <a class="nav-link" href="../demo/Cateogry-4.html">Classic Tea Biscuits</a>
                                    <a class="nav-link" href="../demo/Cateogry-4.html">Classic Digestive Tea Biscuits</a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3 widget-area">
                        <div class="widget flicker_widget clearfix">
                            <h3 class="mb-4">Contact us</h3>
                            <div class="textwidget widget-text">
                                    <ul class="list-unstyled">
                                        <li class="mb-1"><i class="fa fa-map mr-2 text-primary" aria-hidden="true"></i>6th of October, 2nd Industrial Zone, Intersection 16 and 25</li>
                                        <li class="mb-1"><i class="fa fa-phone-alt mr-2 text-primary" aria-hidden="true"></i>+20238202687</li>
                                        <li class="mb-1"><i class="fa fa-envelope mr-2 text-primary" aria-hidden="true"></i>info@classicfoods.com.eg</li>
                                    </ul>
                                    <div class="social">
                                        <a class="social-facebook border rounded-circle" href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-twitter border rounded-circle" href="#"><i class="fab fa-twitter"></i></a>
                                        <a class="social-youtube border rounded-circle" href="#"><i class="fab fa-youtube"></i></a>
                                        <a class="social-instagram border rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-5 align-items-center">


                    


                    <div class="col-md-12 text-center">
                        <p class="mb-0 text-center">All copyrights reserved by <a href="" class="text-primary">Digital Bond</a> © 2021</p>
                    </div>


                </div>
            </div>

            
        </footer>
        <!-- <footer class="footer bg-dark text-white py-5">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-md-4 text-left">
                        <p class="mb-0">Design By: <a href="" class="text-primary">Digital Bond</a></p>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="social">
                            <a class="social-facebook  border " href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="social-twitter  border" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="social-youtube  border" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="social-instagram  border" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>


                    <div class="col-md-4 text-right">
                        <p class="mb-0">Classic &copy; All Rights Reserved</p>
                    </div>


                </div>
            </div>
        </footer> -->
        <!-- end footer -->

    <!-- script -->
    <script src="assets/js/page.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script>
    function checkPass() {
		//Store the password field objects into variables ...
		var pass1 = document.getElementById("password");
		var pass2 = document.getElementById("confirmPass");
		//Store the Confimation Message Object ...
		var message = document.getElementById("confirmMessage");
		//Set the colors we will be using ...
		var goodColor = "#66cc66";
		var badColor = "#f40303";
		//Compare the values in the password field
		//and the confirmation field
		if (pass1.value == pass2.value) {
			//The passwords match.
			//Set the color to the good color and inform
			//the user that they have entered the correct password
			message.style.color = goodColor;
			message.innerHTML = "";
		} else {
			//The passwords do not match.
			//Set the color to the bad color and
			//notify the user.

			message.style.color = badColor;
			message.innerHTML =
				"<div class='alert alert-danger' role='alert'>Password doesn't match</div>";
		}
	}
    </script>
    </body>
</html>